.recomendation__card {
  background-color: #fff;
  width: 48%;
  box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 8%);
  margin-bottom: 24px;
}

.recomendation__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 16px;
  border-bottom: 1px solid #eee;
}
.card-content_header {
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #eee;
}

.recomendation__card-header__title {
  font-size: 16px;
  font-weight: 600;
  /* margin-left: 20px; */
  min-width: 60px;
}

.recomendation__card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;
}

.recomendation__text {
}
