.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  border-bottom: 1px solid #eee;
}

.header__container {
  display: flex;
  top: 0;
  justify-content: space-between;
}
.logo {
  width: 80px;
  height: 80px;
  background-color: #fff;
}

.header__menu {
  width: 80px;
  height: 80px;
  background-color: #000;
}

.page__content {
  display: flex;
  padding-top: 96px;
  padding-left: 316px;
}

.page__layout {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main__content {
  width: 730px;
}
